@import "tailwindcss";


@theme {

  --color-*: initial;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: #0f1416;
  --color-space-cadet: #282d40;
  --color-davys-gray: #4a495a;
  --color-taupe: #83828b;
  --color-silver: #bcbcbc;
  --color-salmon: #fe433c;
  --color-watermelon: #f31d64;
  --color-lilac: #a224ad;
  --color-fuchsia: #db1df3;
  --color-purple: #6a38b3;
  --color-lavender: #bdadff;
  --color-blue: #3c5081;
  --color-light-blue: #0095ef;
  --color-yellow: #efca00;
  --color-teal: #43c68b;
  --color-white: #ffffff;

}

.animated-background {
    background-size: 700%;
    -webkit-animation: animation 0 ease infinite;
    -moz-animation: animation 15s ease infinite;
    animation: animation 15s ease infinite;
}

@keyframes animation {
    0%

    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

.gradient-background {
  background:
    radial-gradient(at 63vw 53vh, var(--color-black) 6%, transparent 35%),
    radial-gradient(at 5vw 3vh, var(--color-black) 0px, transparent 15%),
    radial-gradient(at 40vw 75vh, #db1df344 10%, transparent 30%),
    radial-gradient(at 15vw 25vh, #db1df333 0px, transparent 45%),
    radial-gradient(at 64vw 36vh, #6a38b3aa 0px, transparent 30%),
    radial-gradient(at 31vw 51vh, #6a38b3ee 2%, transparent 45%),
    radial-gradient(at 90vw 95vh, #6a38b366 0px, transparent 40%),
    var(--color-black);
}
