@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-background {
    background-size: 700%;
    -webkit-animation: animation 0 ease infinite;
    -moz-animation: animation 15s ease infinite;
    animation: animation 15s ease infinite;
}

@keyframes animation {
    0%

    100% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }
}

:animated-swirl {
@grid: 1x15;
}
:container {
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
background:black;
}
@place-cell: center;
@size: calc(@index * calc(1.1px + calc(@index * 2px)));
--delay: calc(@index * 0.1s);
z-index: calc(10 - @index);
border-radius:100%;
border-color:rgb(0,0,0);
border-style:dotted;
border-width: calc(@index * 1px);
animation-name: scale;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-timing-function: ease;
animation-delay:var(--delay);
transform-style: preserve-3d;
transform: scale(1);
@keyframes scale {
100%,0%{
border-color: rgb(0,0,0);
transform: scale(1) rotate(0deg);
}
8%{
border-color: rgb(255,127,0);
}
16%{
border-color: rgb(255,255,0);
}
25%{
border-color: rgb(127,255,0);
}
33%{
border-color: rgb(0,255,0);
}
41%{
border-color: rgb(0,255,127);
}
50%{
border-color: rgb(0,255,255);
transform: scale(1.1) rotate(45deg);
}
58%{
border-color: rgb(0,127,255);
}
66%{
border-color: rgb(0,0,255);
}
75%{
border-color: rgb(127,0,255);
}
83%{
border-color: rgb(255,0,255);
}
91%{
border-color: rgb(255,0,127);
}
}